<%- include('../partials/header')  %>

<section>
    <h2>Tickets</h2>
    <form
      id='add-ticket-form'
      action='/flights/<%= flight._id%>/tickets'
      method='POST'>
    <label for='price'>Price</label>
    <input type='text' name='price' id='price' placeholder='$0' required>
  </br></br>
  <label for='seat'>Seat</label>
  <input name='seat'required placeholder='A1-F99' pattern='[A-F][1-9]\d?' >
  </br>
</br>
  <button type='submit'>Add Ticket</button>
    </form>
  </section>

<%- include('../partials/footer') %> 