<%- include('../partials/header') %>

<main>
    <h1><%= title %> </h1>
    <select>
        <% destinations.forEach(Function(destination) { %>
            <option><%= destination.destination %></option>
            <% }) %>  
    </select>
    <form id='add-destination-form' action='/destinations' method='POST'>
        <label for='name-input'>Destination</label>
        <input type='text' name='destination'>
        <button type='submit'>Add Destination</button>
        </form>
</main>

<%- include('../partials/footer') %> 