<%- include('../partials/header') %>

<main>
    <h1><%= title %> </h1>
    <p>Please first ensure that the destination is not in the dropdown</p>
    <select>
        <% destinations.forEach(function(destination) { %>
            <option><%= destination.airport %></option>
            <% }) %>  
    </select>
    <form id='add-destination-form' action='/destinations' method='POST'>
        <label for='airport-input'>Airport:</label>
        <input type='text' name='airport' id='airport-input'>
       <button id='add-destination-button' type='submit'>Add Destination</button>
        </form>
</main>

<%- include('../partials/footer') %> 