<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongoose Flights</title>
</head>
<body>
    <h1>Add a New Flight</h1>
    <form action="/flights" method="POST">
        <label>Airline:
            <select name="airline">
                <option value="American">American</option>
                <option value="Delta">Delta</option>
                <option value="Southwest">Southwest</option>
                <option value="United">United</option>
            </select>
        </label><br>
        <label>Airport:
            <select name="airport">
                <option value="ATL">ATL</option>
                <option value="DFW">DFW</option>
                <option value="DEN" selected>DEN</option>
                <option value="LAX">LAX</option>
                <option value="SAN">SAN</option>
            </select>
            </label><br>
            <label>Flight No.:
                <input type="text" name="flightNo">
            </label><br>
            <label>Departure:
                <input type="datetime-local" name="departs" value="2022-08-04T20:30" min="2022-08-04T00:00" max="2023-08-04T00:00">
            </label>
            <input type="submit" value="Add Flight">
    </form>
    
</body>
</html>